body{
    margin: 0;
    font-family: 'ABeeZee', sans-serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
h3{
    font-size: 20px;
}
p{
    color: dimgray;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.top-banner{
    
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat ;
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,tomato,lightsalmon);
    padding: 10px 20px;
    border-radius: 5px ;
    font-weight: 700;
    color: white;   
}
.mid-banner{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


.final-banner{
  
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
   
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    height: 60%;
    background-color: white;


}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;

}
#baby-stack{
    border-left: 7px solid;
   
    border-image: linear-gradient(180deg , blue,tomato);
    

    border-image-slice: 1;
   
}

footer p{
    text-align: center;
    font-size: 12px;
}


